/* App.css */
/* App.css */
html, body {
  margin: 0 !important;
  padding: 0 ;
  overflow-x: hidden; /* সাইড স্ক্রল বন্ধ করার জন্য */
}

.main-content {
    margin-top: 40px; /* নেভবার যেন ঢাকা না দেয় */
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
/* App.css */
body {
    background-color: #ffffff !important; /* ব্ল্যাক সরিয়ে হোয়াইট করা হলো */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}